
body {
    background-color:#EEECDA;
}


body{
    background-color:#B08BBB ;
}

body{
    background-color:#C4DFAA ;
}

h1{
    color:#144272;
}

h3{
    color:#144272;
}

hr {
    border-style:none;
    border-top-style:dotted;
    border-color:black;
    border-width:5px;
    width:5%;
}
